@(msg: String)(form1: Form[models.constructor.Constructor])

@main("ゼネコン登録"){

	<h1>hello!</h1>
	<p>msg</p>
	@helper.form(action = controllers.constructor.routes.ConstructorCreate.constructorCreate){
  
	@(helper.inputText(
		field = form1("constructorName")
	))
	@(helper.select(
		field = form1("constructorType"),
		options = Seq("a"->"A",
			"b"->"B","c"->"C")
	))
	@(helper.select(
		field = form1("displayColor"),
		options = Seq("red"->"赤",
			"blue"->"青","yellow"->"黄")
	))

	<input type = "submit">
    }
}